BackJava_FrontCSharp/FrontCSharp/SoftProg/SoftProgWA/Connected Services/SoftProgServices/ServiceWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServiceWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/ServiceWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="restar">
    <part name="parameters" element="tns:restar" />
  </message>
  <message name="restarResponse">
    <part name="parameters" element="tns:restarResponse" />
  </message>
  <message name="sumar">
    <part name="parameters" element="tns:sumar" />
  </message>
  <message name="sumarResponse">
    <part name="parameters" element="tns:sumarResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <portType name="ServiceWS">
    <operation name="restar">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ServiceWS/restarRequest" message="tns:restar" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ServiceWS/restarResponse" message="tns:restarResponse" />
    </operation>
    <operation name="sumar">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ServiceWS/sumarRequest" message="tns:sumar" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ServiceWS/sumarResponse" message="tns:sumarResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ServiceWS/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ServiceWS/helloResponse" message="tns:helloResponse" />
    </operation>
  </portType>
  <binding name="ServiceWSPortBinding" type="tns:ServiceWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="restar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sumar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceWS">
    <port name="ServiceWSPort" binding="tns:ServiceWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/ServiceWS" />
    </port>
  </service>
</definitions>