Arquitectura_REST_SOAP/Frontend/SoftProg/SoftProgWA/Connected Services/SoftProgServices/EmpleadoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.softprog.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EmpleadoWS" targetNamespace="pe.edu.pucp.softprog.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/EmpleadoWS?xsd=1" namespace="pe.edu.pucp.softprog.services" />
    </xsd:schema>
  </types>
  <message name="obtenerEmpleadoPorId">
    <part name="parameters" element="tns:obtenerEmpleadoPorId" />
  </message>
  <message name="obtenerEmpleadoPorIdResponse">
    <part name="parameters" element="tns:obtenerEmpleadoPorIdResponse" />
  </message>
  <message name="listarEmpleadosTodos">
    <part name="parameters" element="tns:listarEmpleadosTodos" />
  </message>
  <message name="listarEmpleadosTodosResponse">
    <part name="parameters" element="tns:listarEmpleadosTodosResponse" />
  </message>
  <message name="insertarEmpleado">
    <part name="parameters" element="tns:insertarEmpleado" />
  </message>
  <message name="insertarEmpleadoResponse">
    <part name="parameters" element="tns:insertarEmpleadoResponse" />
  </message>
  <message name="modificarEmpleado">
    <part name="parameters" element="tns:modificarEmpleado" />
  </message>
  <message name="modificarEmpleadoResponse">
    <part name="parameters" element="tns:modificarEmpleadoResponse" />
  </message>
  <message name="eliminarEmpleado">
    <part name="parameters" element="tns:eliminarEmpleado" />
  </message>
  <message name="eliminarEmpleadoResponse">
    <part name="parameters" element="tns:eliminarEmpleadoResponse" />
  </message>
  <portType name="EmpleadoWS">
    <operation name="obtenerEmpleadoPorId">
      <input wsam:Action="pe.edu.pucp.softprog.services/EmpleadoWS/obtenerEmpleadoPorIdRequest" message="tns:obtenerEmpleadoPorId" />
      <output wsam:Action="pe.edu.pucp.softprog.services/EmpleadoWS/obtenerEmpleadoPorIdResponse" message="tns:obtenerEmpleadoPorIdResponse" />
    </operation>
    <operation name="listarEmpleadosTodos">
      <input wsam:Action="pe.edu.pucp.softprog.services/EmpleadoWS/listarEmpleadosTodosRequest" message="tns:listarEmpleadosTodos" />
      <output wsam:Action="pe.edu.pucp.softprog.services/EmpleadoWS/listarEmpleadosTodosResponse" message="tns:listarEmpleadosTodosResponse" />
    </operation>
    <operation name="insertarEmpleado">
      <input wsam:Action="pe.edu.pucp.softprog.services/EmpleadoWS/insertarEmpleadoRequest" message="tns:insertarEmpleado" />
      <output wsam:Action="pe.edu.pucp.softprog.services/EmpleadoWS/insertarEmpleadoResponse" message="tns:insertarEmpleadoResponse" />
    </operation>
    <operation name="modificarEmpleado">
      <input wsam:Action="pe.edu.pucp.softprog.services/EmpleadoWS/modificarEmpleadoRequest" message="tns:modificarEmpleado" />
      <output wsam:Action="pe.edu.pucp.softprog.services/EmpleadoWS/modificarEmpleadoResponse" message="tns:modificarEmpleadoResponse" />
    </operation>
    <operation name="eliminarEmpleado">
      <input wsam:Action="pe.edu.pucp.softprog.services/EmpleadoWS/eliminarEmpleadoRequest" message="tns:eliminarEmpleado" />
      <output wsam:Action="pe.edu.pucp.softprog.services/EmpleadoWS/eliminarEmpleadoResponse" message="tns:eliminarEmpleadoResponse" />
    </operation>
  </portType>
  <binding name="EmpleadoWSPortBinding" type="tns:EmpleadoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerEmpleadoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEmpleadosTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EmpleadoWS">
    <port name="EmpleadoWSPort" binding="tns:EmpleadoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/EmpleadoWS" />
    </port>
  </service>
</definitions>