BackJava_FrontCSharp_Ejemplos_SOAP_REST/FrontCSharp/SoftProg/SoftProgWA/Connected Services/SoftProgServices/AreaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.softprog.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AreaWS" targetNamespace="pe.edu.pucp.softprog.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/AreaWS?xsd=1" namespace="pe.edu.pucp.softprog.services" />
    </xsd:schema>
  </types>
  <message name="obtenerAreaPorId">
    <part name="parameters" element="tns:obtenerAreaPorId" />
  </message>
  <message name="obtenerAreaPorIdResponse">
    <part name="parameters" element="tns:obtenerAreaPorIdResponse" />
  </message>
  <message name="eliminarArea">
    <part name="parameters" element="tns:eliminarArea" />
  </message>
  <message name="eliminarAreaResponse">
    <part name="parameters" element="tns:eliminarAreaResponse" />
  </message>
  <message name="insertarArea">
    <part name="parameters" element="tns:insertarArea" />
  </message>
  <message name="insertarAreaResponse">
    <part name="parameters" element="tns:insertarAreaResponse" />
  </message>
  <message name="modificarArea">
    <part name="parameters" element="tns:modificarArea" />
  </message>
  <message name="modificarAreaResponse">
    <part name="parameters" element="tns:modificarAreaResponse" />
  </message>
  <message name="listarAreasTodas">
    <part name="parameters" element="tns:listarAreasTodas" />
  </message>
  <message name="listarAreasTodasResponse">
    <part name="parameters" element="tns:listarAreasTodasResponse" />
  </message>
  <portType name="AreaWS">
    <operation name="obtenerAreaPorId">
      <input wsam:Action="pe.edu.pucp.softprog.services/AreaWS/obtenerAreaPorIdRequest" message="tns:obtenerAreaPorId" />
      <output wsam:Action="pe.edu.pucp.softprog.services/AreaWS/obtenerAreaPorIdResponse" message="tns:obtenerAreaPorIdResponse" />
    </operation>
    <operation name="eliminarArea">
      <input wsam:Action="pe.edu.pucp.softprog.services/AreaWS/eliminarAreaRequest" message="tns:eliminarArea" />
      <output wsam:Action="pe.edu.pucp.softprog.services/AreaWS/eliminarAreaResponse" message="tns:eliminarAreaResponse" />
    </operation>
    <operation name="insertarArea">
      <input wsam:Action="pe.edu.pucp.softprog.services/AreaWS/insertarAreaRequest" message="tns:insertarArea" />
      <output wsam:Action="pe.edu.pucp.softprog.services/AreaWS/insertarAreaResponse" message="tns:insertarAreaResponse" />
    </operation>
    <operation name="modificarArea">
      <input wsam:Action="pe.edu.pucp.softprog.services/AreaWS/modificarAreaRequest" message="tns:modificarArea" />
      <output wsam:Action="pe.edu.pucp.softprog.services/AreaWS/modificarAreaResponse" message="tns:modificarAreaResponse" />
    </operation>
    <operation name="listarAreasTodas">
      <input wsam:Action="pe.edu.pucp.softprog.services/AreaWS/listarAreasTodasRequest" message="tns:listarAreasTodas" />
      <output wsam:Action="pe.edu.pucp.softprog.services/AreaWS/listarAreasTodasResponse" message="tns:listarAreasTodasResponse" />
    </operation>
  </portType>
  <binding name="AreaWSPortBinding" type="tns:AreaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerAreaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAreasTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AreaWS">
    <port name="AreaWSPort" binding="tns:AreaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/AreaWS" />
    </port>
  </service>
</definitions>