BackJava_FrontCSharp_Ejemplos_SOAP_REST/FrontCSharp/SoftProg/SoftProgWA/Connected Services/SoftProgServices/ClienteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.softprog.services" targetNamespace="pe.edu.pucp.softprog.services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarClientesPorDNIoNombre" type="tns:listarClientesPorDNIoNombre" />
  <xs:element name="listarClientesPorDNIoNombreResponse" type="tns:listarClientesPorDNIoNombreResponse" />
  <xs:complexType name="listarClientesPorDNIoNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DNIoNombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClientesPorDNIoNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
          <xs:element name="lineaCredito" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clasico" />
      <xs:enumeration value="VIP" />
      <xs:enumeration value="Gold" />
      <xs:enumeration value="Platinum" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>