BackJava_FrontCSharp_Ejemplos_SOAP_REST/FrontCSharp/SoftProg/SoftProgWA/Connected Services/SoftProgServices/ReporteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.softprog.services" targetNamespace="pe.edu.pucp.softprog.services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporte" type="tns:generarReporte" />
  <xs:element name="generarReporteResponse" type="tns:generarReporteResponse" />
  <xs:complexType name="generarReporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>